
.grid-container{
    display: grid;
    grid-template-columns: auto-fill;
    grid-template-rows: 0.6fr 1fr;
    grid-gap: 1em;
    grid-template-areas:"header" "page-content";
}


.header 
{ 
  grid-area: header; 
  width:100%;
  height: 400px;
  overflow:hidden;
}

.intro-1{
    color:white;
    position:relative;
    margin:100px;
    text-align: center;
}

.h2{
    font-family:'Kaushan Script',cursive;
    font-size: 60px;
}

.p1{
    position:relative;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.line{
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: white;
}

.intro-2{
    grid-area: intro-2;
}


body{
    background-image:linear-gradient(rgba(42,134,220,.9), rgba(130,230,255,.9), rgba(219,248,255,.9));
    font-family: 'Montserrat', sans-serif;
}

.page-content {
    display: grid;
    grid-area: page-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    padding:20px 100px;
}

.card {  
  position: relative; 
  display: flex;
  align-items: flex-end;
    justify-content: center;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title a {
    color:lightslategrey;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
     text-decoration:none;
}

.title a:hover {
    color:black;
}


nav {
	margin-top: 0;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
	background-color:transparent;
    text-align: center;

}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: transparent;
    padding:0 50px;
	}

nav a {
	display:block;
	color:white;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	color:whitesmoke;
    border-bottom: 0.2px solid whitesmoke;  
    
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul li ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul li ul li a {
    display:block !important;
}
	
