---
---

<head>
    <meta charset = "utf-8">
    <title> {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
<body>
    <div class="container">
	  <nav>
		  <ul>
		    <li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="{{ site.baseurl }}/">Figure skaters</a></li>
			  <ul>
                  <li><a href="{{ site.baseurl }}/individual-men">Single Men</a></li>
                  <li><a href="{{ site.baseurl }}/individual-women">Single Women</a></li>
                  <li><a href="{{ site.baseurl }}/pair-skating">Pairs</a></li>
                  <li><a href="{{ site.baseurl }}/ice-dancing">Ice Dancing</a></li>
		      </ul>
			<li><a href="{{ site.baseurl }}/search">Search</a></li>
		  </ul>
		</nav>
    </div>
	
	        <article>
            <main class="page-content">
                <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Li_chengjiang.jpg" alt="Single men" style="width:100%">
                    <div class="content">
                        <h2 class="title"><a href="/">Single Men</a></h2>
                        <p class="copy">View more content</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Zijun_LI_CHN_%E2%80%93_7th_Place_%285%29.jpg" alt="Single women" style="width:100%">
                    <div class="content">
                        <h2 class="title"><a href="/">Single Women</a></h2>
                        <p class="copy">View more content</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Shen_Xue_and_Zhao_Hongbo.jpg" alt="Pairs" style="width:100%">
                    <div class="content">
                        <h2 class="title"><a href="/">Pairs</a></h2>
                        <p class="copy">View more content</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Shen_Xue_and_Zhao_Hongbo.jpg" alt="Ice Dancing" style="width:100%">
                    <div class="content">
                        <h2 class="title"><a href="/">Ice Dancing</a></h2>
                        <p class="copy">View more content</p>
                    </div>
                </div>
            </main>
        
        </article>
    <div class="container">
       {{ content }}

    </div>
</body>

