---
---

<head>
    <meta charset = "utf-8">
    <title> {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
</head>
<body>
    <div class="container">
	  <nav>
		  <ul> 
			  <li><a href="{{ site.baseurl }}/">Gallery Index</a></li>
			  <li><a href="{{ site.baseurl }}/individual-men">Individual Men</a></li>
			  <li><a href="{{ site.baseurl }}/individual-women">Individual Women</a></li>
			  <li><a href="{{ site.baseurl }}/pair-skating">Pair Skating</a></li>
			  <li><a href="{{ site.baseurl }}/ice-dancing">Ice Dancing</a></li>
			  <li><a href="{{ site.baseurl }}/search">Search</a></li>
			  </ul>
		</nav>
            
        </div>
			<div class="container">
			{{ content }}
			</div>
</body>

