---
---

<head>
    <meta charset = "utf-8">
    <title> {{ page.title }}</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Gallery Index</a> 
            <a href="{{ site.baseurl }}/individual-men">Individual Men</a> 
            <a href="{{ site.baseurl }}/individual-women">Individual Women</a>
            <a href="{{ site.baseurl }}/pair-skating">Pair Skating</a>
            <a href="{{ site.baseurl }}/ice-dancing">Ice Dancing</a>
        </nav>
    </div>
    <div class="container">
       {{ content }}

    </div>
</body>