---
---

<head>
    <meta charset = "utf-8">
    <title> {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Gallery Index</a> 
            <a href="{{ site.baseurl }}/individual-men">Individual Men</a> 
            <a href="{{ site.baseurl }}/individual-women">Individual Women</a>
            <a href="{{ site.baseurl }}/pair-skating">Pair Skating</a>
            <a href="{{ site.baseurl }}/ice-dancing">Ice Dancing</a>
            <a href="{{ site.baseurl }}/search">Search</a>
        </nav>
    </div>
    <div class="container">
       <h2>Name: {{ page. name }}</h2> 
       <img src = "{{ page. img-url}}">
       <p>Birth: {{ page. birth }}</p>
       <p>Place of origin: {{ page. place-of-origin }}</p>
       <p>Olympics: {{ page. Olympics }}</p>
       <p>Ranking: {{ page. Ranking }}</p>
       <p>Personalities: {{ page. Personalities }}</p>
       <p>{{ page. video-url }}</p>
        


        
    </div>
    <footer>Group5</footer>
</body>

